body {
  font-family: "Press Start 2P", cursive;
  color: #626262;
}

.main-container {
  width: 50%;
  height: 40%;
  border: 1px solid black;
  overflow: hidden;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  position: absolute;
}

.pj {
  position: absolute;
  top: 81%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: calc(221px / 5);
  height: 47px;
  background: url("assets/t_rex_complete.png");
}

.cactus {
  width: 17px;
  height: 35px;
  top: 74%;
  position: absolute;
}

.x-horizon {
  width: 100%;
  height: 20px;
  top: 85%;
  position: absolute;
}

.fondo2 {
  left: 100%;
}

.maxScore {
  position: absolute;
  left: 3%;
}

.currentScore {
  position: absolute;
  left: 74%;
}

.gameStart {
  position: absolute;
  top: 35%;
  left: 27%;
}

.gameOver{
  position: absolute;
  top: 35%;
  left: 40%;
}